*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color:#222;
    background-color: rgb(181, 190, 201);
}

/*HEADER SECTION*/
.nav-content {
    margin: 0;
    padding: 13px;
    width: 100;
    height: auto;
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    gap: 1em;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    
}

.header h2 {
    display: flex;
    justify-content: center; 
    font-size: 30px;
}

.logo img{
    width:50px;
    height: 50px;
}
.nav-icons {
    display: flex;
    justify-content: space-evenly;
}
.search-bar {
    display: flex;
    justify-content: center;
    border-right-color: transparent;
}
.search-icon {
    height: 50px;
    width: 50px;
}
.searchBar {
    width: 250px;
    height: 50px;
}

/*MAIN CONTENT*/

.mainContent{
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-areas: 
    "trending trending"
    "subreddit post";
}

.filter-container {
    position: sticky;
    display: flex;
    justify-items: start;
    justify-content: space-evenly;
}

.subreddings-side {
    grid-area: subreddit;
    display: flex;
    justify-items: center;
}

.filter-and-posts {
    grid-area: post;
}
/*TRENDING POSTS*/
.trending {
    grid-area: trending;
    display: grid;
    width: 100%;
   

}
.trending-posts {
   
}
.trending-title {

}

/*INDI POST*/

.indi-post {
    border: 1px solid rgb(138, 134, 134);
    background-color: whitesmoke;
    width: 90vw;
    margin: 5px;
    padding: 10px;
    

}

.head {
    display: flex;
    justify-items: start; 
    align-items: center;
    gap: 0.5rem
}
.postedBy {
    font-style: italic;
    font-size: small;
}
.reddit-avatar {
    width: 40px;
}

.image-container img {
    padding-right: 6px;
    width:89vw;
}
.user-icon {
    width: 20px;
}

.indiComment {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 10px;
    padding-bottom: 5px;

}
.user-author-time {
    display: flex;
    justify-self: center;
    flex-flow: row;
    gap:5px;
}

.comment-header {
    display: flex;
    gap: 1px;
}