*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-color: darkslategray;
    color:#222;

}



.postlist {
    width: 50vw;
    max-width: 1170px;
    margin: 4rem auto;
    display: grid;
    gap: 4rem;
}

@media screen and (min-width: 768px){
    .post{
        grid-template-columns: repeat(1, 1fr);
    }
}

.post {
    background-color: grey;
    border: 1px solid black;
    padding: 2em 2rem;
}

.post h3 {
    margin: 1rem;
}

.social {
    margin-top: 0.5rem;
    
}

.social a {
    border: 1px solid;
    padding: 0.25rem 0.5rem;
    position: relative;
    left: 2rem;
    top: 0.5rem;
    margin-left: 0.5rem;
}

.user {
    font-size: 0.8rem; 
    display: grid;

}

.user img {
  width: 20px;  
}
